[submodule "test_data"]
        path = test_data
        url = git@github.com:ptrkrysik/test_data.git
[submodule "examples"]
        path = examples
        url = git@github.com:ptrkrysik/examples.git
